{% extends 'allianceauth/base.html' %}
{% load i18n %}
{% block page_title %}{% trans "EVE Notes" %}{% endblock %}
{% block extra_css %}
{% include 'bundles/datatables-css.html' %}
{% endblock extra_css %}

{% block content %}

<h4 class="text-center col-md-12">Add Comment</h4>
<p class="text-center col-md-12">Please ensure character below is correct!</p>
<div class="text-center col-md-12">
{% evename_img note.eve_id note.eve_name note.eve_catagory 128 %}
<h4>{{note.eve_name}}</h4>
</div>
<form action="/toolbox/add_restricted_comment/{{note.id}}/" method="post">
    {% csrf_token %}
    <p>
        {{ form.comment.label_tag }}
        {{ form.comment|addclass:'form-control' }}
    </p>
    <input type="submit" value="Submit" class="btn btn-primary">
</form>
{% endblock %}
